<configuration>

    <springProperty name="elkEnabled" source="elk.enabled" defaultValue="false" />

    <if condition='"true".equals(property("elkEnabled"))'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>localhost:5044</destination>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <timestamp/>
                        <threadName/>
                        <level/>
                        <loggerName/>
                        <message/>
                        <stackTrace/>
                    </providers>
                </encoder>
            </appender>
        </then>
    </if>

    <if condition='"false".equals(property("elkEnabled"))'>
        <then>
            <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
    </if>

    <if condition='"true".equals(property("elkEnabled"))'>
        <then>
            <root level="INFO">
                <appender-ref ref="stash"/>
            </root>
        </then>
    </if>
    <if condition='"false".equals(property("elkEnabled"))'>
        <then>
            <root level="INFO">
                <appender-ref ref="console"/>
            </root>
        </then>
    </if>

</configuration>
